.App {
  background-image: url(./img/backgroundImugi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #009d00;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linha {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
.App{
  flex-direction: column;
}
}
